<ion-header [translucent]="true">
  <ion-toolbar color="warning">

  <ion-title class="ion-padding-top ion-text-center">
    Bienvenido a RegistrAPP</ion-title>
  
  </ion-toolbar>
</ion-header>
<br>

<ion-content [fullscreen]="true" class="ion-padding">
  
   
  <div class="logo">
    <img src="../../assets/Img/RegistrAPP.png" alt="Logo registro">
  </div>
  
  
<br>

<div class="perfil">
<ion-button color="secondary" [routerLink]="['/login']">Alumno</ion-button> <!--routerlink navegación-->
<div>
  
</div>
<ion-button color="secondary" [routerLink]="['/login']">Profesor</ion-button>
</div>

</ion-content>


<ion-footer >
  <ion-toolbar color="warning">
    <ion-title class="ion-padding-top ion-text-center"></ion-title>
  </ion-toolbar>
</ion-footer>


