.logo{
    text-align: center;
    width: 250px;
    display: block;
    margin: auto;
    
  }

  .perfil{
    text-align: center;
    font-weight: bold;
  }



  ion-button {
    width: 150px; 
  }



